footer{
    background-color: orange;
    border-bottom: .25em solid white;
    border-top: .25em solid white;
    margin: 1em 0;
}

footer p{
    font-family: "Pathway Gothic One", Arial, Helvetiva, sans-serif;
    font-size: 1.5em;
    text-align: center;
}
footer a{
    text-align:center;
}

footer p +p {
    font-size: .9em;
    font-style: italic;
}