form {
    width: 75%;
    margin: 0 auto;

  
    /* To see the limits of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
 
  label {
    /* To make sure that all label have the same size and are properly align */
    display: inline-block;
    margin-top:1em;
    margin-bottom: .25em;
  }
  
  input {
    width: 30%;
    border: 1px solid #999;

  }

input.chekbx{
width: 1%;
}


  
button{
  display: block;
  margin: 0 auto;
  padding: 1em;
  background-color: orange;
  text-transform: uppercase;
  color: white;
  font-weight: bolder;
}